<p>
  <h1><%= @micropost.race.place %> <%= @micropost.race.round %>R</h1>
</p>

<p>
  <h1><%= @micropost.race.race_name %> <%= @micropost.race.cource_type %> <%= @micropost.race.cource_length %></h1>
</p>

<%= form_for(@micropost) do |f| %>
  <%= f.fields_for :hosemark do |i| %>
    <div class="row">
      <!-- 馬印の領域 -->
      <div class="col-xs-6">
        <!-- 馬印テーブル -->
        <table class="table table-responsive" style="white-space: nowrap">
          <thead>
            <tr>
              <th>印</th>
              <th>馬番</th>
              <th>馬名</th>
            </tr>
          </thead>
          <tbody>
            <% if !@micropost.race.hose1_name.nil? %>
              <tr class='gate_<%= @micropost.race.hose1_gate_color %>'>
                <td>
                  <font color="#000000">
                    <%= i.select :hose1_mark, [["◎", "◎"], ["◯", "◯"], ["▲", "▲"], ["△", "△"], ["×", "×"]], include_blank: "" %>
                  </font>
                </td>
                <td><%= @micropost.race.hose1_number %></td>
                <td><%= @micropost.race.hose1_name %></td>
              </tr>
            <% end %>
            <% if !@micropost.race.hose2_name.nil? %>
              <tr class='gate_<%= @micropost.race.hose2_gate_color %>'>
                <<td>
                  <font color="#000000">
                    <%= i.select :hose2_mark, [["◎", "◎"], ["◯", "◯"], ["▲", "▲"], ["△", "△"], ["×", "×"]], include_blank: "" %>
                  </font>
                </td>
                <td><%= @micropost.race.hose2_number %></td>
                <td><%= @micropost.race.hose2_name %></td>
              </tr>
            <% end %>
            <% if !@micropost.race.hose3_name.nil? %>
              <tr class='gate_<%= @micropost.race.hose3_gate_color %>'>
                <td>
                  <font color="#000000">
                    <%= i.select :hose3_mark, [["◎", "◎"], ["◯", "◯"], ["▲", "▲"], ["△", "△"], ["×", "×"]], include_blank: "" %>
                  </font>
                </td>
                <td><%= @micropost.race.hose3_number %></td>
                <td><%= @micropost.race.hose3_name %></td>
              </tr>
            <% end %>
            <% if !@micropost.race.hose4_name.nil? %>
              <tr class='gate_<%= @micropost.race.hose4_gate_color %>'>
                <td>
                  <font color="#000000">
                    <%= i.select :hose4_mark, [["◎", "◎"], ["◯", "◯"], ["▲", "▲"], ["△", "△"], ["×", "×"]], include_blank: "" %>
                  </font>
                </td>
                <td><%= @micropost.race.hose4_number %></td>
                <td><%= @micropost.race.hose4_name %></td>
              </tr>
            <% end %>
            <% if !@micropost.race.hose5_name.nil? %>
              <tr class='gate_<%= @micropost.race.hose5_gate_color %>'>
                <td>
                  <font color="#000000">
                    <%= i.select :hose5_mark, [["◎", "◎"], ["◯", "◯"], ["▲", "▲"], ["△", "△"], ["×", "×"]], include_blank: "" %>
                  </font>
                </td>
                <td><%= @micropost.race.hose5_number %></td>
                <td><%= @micropost.race.hose5_name %></td>
              </tr>
            <% end %>
            <% if !@micropost.race.hose6_name.nil? %>
              <tr class='gate_<%= @micropost.race.hose6_gate_color %>'>
                <td>
                  <font color="#000000">
                    <%= i.select :hose6_mark, [["◎", "◎"], ["◯", "◯"], ["▲", "▲"], ["△", "△"], ["×", "×"]], include_blank: "" %>
                  </font>
                </td>
                <td><%= @micropost.race.hose6_number %></td>
                <td><%= @micropost.race.hose6_name %></td>
              </tr>
            <% end %>
            <% if !@micropost.race.hose7_name.nil? %>
              <tr class='gate_<%= @micropost.race.hose7_gate_color %>'>
                <td>
                  <font color="#000000">
                    <%= i.select :hose7_mark, [["◎", "◎"], ["◯", "◯"], ["▲", "▲"], ["△", "△"], ["×", "×"]], include_blank: "" %>
                  </font>
                </td>
                <td><%= @micropost.race.hose7_number %></td>
                <td><%= @micropost.race.hose7_name %></td>
              </tr>
            <% end %>
            <% if !@micropost.race.hose8_name.nil? %>
              <tr class='gate_<%= @micropost.race.hose8_gate_color %>'>
                <td>
                  <font color="#000000">
                    <%= i.select :hose8_mark, [["◎", "◎"], ["◯", "◯"], ["▲", "▲"], ["△", "△"], ["×", "×"]], include_blank: "" %>
                  </font>
                </td>
                <td><%= @micropost.race.hose8_number %></td>
                <td><%= @micropost.race.hose8_name %></td>
              </tr>
            <% end %>
            <% if !@micropost.race.hose9_name.nil? %>
              <tr class='gate_<%= @micropost.race.hose9_gate_color %>'>
                <td>
                  <font color="#000000">
                    <%= i.select :hose9_mark, [["◎", "◎"], ["◯", "◯"], ["▲", "▲"], ["△", "△"], ["×", "×"]], include_blank: "" %>
                  </font>
                </td>
                <td><%= @micropost.race.hose9_number %></td>
                <td><%= @micropost.race.hose9_name %></td>
              </tr>
            <% end %>
            <% if !@micropost.race.hose10_name.nil? %>
              <tr class='gate_<%= @micropost.race.hose10_gate_color %>'>
                <td>
                  <font color="#000000">
                    <%= i.select :hose10_mark, [["◎", "◎"], ["◯", "◯"], ["▲", "▲"], ["△", "△"], ["×", "×"]], include_blank: "" %>
                  </font>
                </td>
                <td><%= @micropost.race.hose10_number %></td>
                <td><%= @micropost.race.hose10_name %></td>
              </tr>
            <% end %>
            <% if !@micropost.race.hose11_name.nil? %>
              <tr class='gate_<%= @micropost.race.hose11_gate_color %>'>
                <td>
                  <font color="#000000">
                    <%= i.select :hose11_mark, [["◎", "◎"], ["◯", "◯"], ["▲", "▲"], ["△", "△"], ["×", "×"]], include_blank: "" %>
                  </font>
                </td>
                <td><%= @micropost.race.hose11_number %></td>
                <td><%= @micropost.race.hose11_name %></td>
              </tr>
            <% end %>
            <% if !@micropost.race.hose12_name.nil? %>
              <tr class='gate_<%= @micropost.race.hose12_gate_color %>'>
                <td>
                  <font color="#000000">
                    <%= i.select :hose12_mark, [["◎", "◎"], ["◯", "◯"], ["▲", "▲"], ["△", "△"], ["×", "×"]], include_blank: "" %>
                  </font>
                </td>
                <td><%= @micropost.race.hose12_number %></td>
                <td><%= @micropost.race.hose12_name %></td>
              </tr>
            <% end %>
            <% if !@micropost.race.hose13_name.nil? %>
              <tr class='gate_<%= @micropost.race.hose13_gate_color %>'>
                <td>
                  <font color="#000000">
                    <%= i.select :hose13_mark, [["◎", "◎"], ["◯", "◯"], ["▲", "▲"], ["△", "△"], ["×", "×"]], include_blank: "" %>
                  </font>
                </td>
                <td><%= @micropost.race.hose13_number %></td>
                <td><%= @micropost.race.hose13_name %></td>
              </tr>
            <% end %>
            <% if !@micropost.race.hose14_name.nil? %>
              <tr class='gate_<%= @micropost.race.hose14_gate_color %>'>
                <td>
                  <font color="#000000">
                    <%= i.select :hose14_mark, [["◎", "◎"], ["◯", "◯"], ["▲", "▲"], ["△", "△"], ["×", "×"]], include_blank: "" %>
                  </font>
                </td>
                <td><%= @micropost.race.hose14_number %></td>
                <td><%= @micropost.race.hose14_name %></td>
              </tr>
            <% end %>
            <% if !@micropost.race.hose15_name.nil? %>
              <tr class='gate_<%= @micropost.race.hose15_gate_color %>'>
                <td>
                  <font color="#000000">
                    <%= i.select :hose15_mark, [["◎", "◎"], ["◯", "◯"], ["▲", "▲"], ["△", "△"], ["×", "×"]], include_blank: "" %>
                  </font>
                </td>
                <td><%= @micropost.race.hose15_number %></td>
                <td><%= @micropost.race.hose15_name %></td>
              </tr>
            <% end %>
            <% if !@micropost.race.hose16_name.nil? %>
              <tr class='gate_<%= @micropost.race.hose16_gate_color %>'>
                <td>
                  <font color="#000000">
                    <%= i.select :hose16_mark, [["◎", "◎"], ["◯", "◯"], ["▲", "▲"], ["△", "△"], ["×", "×"]], include_blank: "" %>
                  </font>
                </td>
                <td><%= @micropost.race.hose16_number %></td>
                <td><%= @micropost.race.hose16_name %></td>
              </tr>
            <% end %>
            <% if !@micropost.race.hose17_name.nil? %>
              <tr class='gate_<%= @micropost.race.hose17_gate_color %>'>
                <td>
                  <font color="#000000">
                    <%= i.select :hose17_mark, [["◎", "◎"], ["◯", "◯"], ["▲", "▲"], ["△", "△"], ["×", "×"]], include_blank: "" %>
                  </font>
                </td>
                <td><%= @micropost.race.hose17_number %></td>
                <td><%= @micropost.race.hose17_name %></td>
              </tr>
            <% end %>
            <% if !@micropost.race.hose18_name.nil? %>
              <tr class='gate_<%= @micropost.race.hose18_gate_color %>'>
                <td>
                  <font color="#000000">
                    <%= i.select :hose18_mark, [["◎", "◎"], ["◯", "◯"], ["▲", "▲"], ["△", "△"], ["×", "×"]], include_blank: "" %>
                  </font>
                </td>
                <td><%= @micropost.race.hose18_number %></td>
                <td><%= @micropost.race.hose18_name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <!-- 買い目、予想コメント領域 -->
      <div class="col-xs-6">
        <!-- 買い目領域 -->
        <div class="row">
          <div class="col-xs-4">
            <button type="button" id="select_baken" class="btn btn-primary">買い目を選ぶ</button>
          </div>
          <div class="col-xs-8 pull-right" style="height:50px;overflow:auto;border:1px solid #aaa;padding:10px;">
            <% @kaimes.each do |kaime| %>
              <% if kaime.second_hoses.nil? && kaime.third_hoses.nil? %>
                <p> <%= kaime.baken_type %> <%= kaime.buy_type %> : <%= kaime.first_hoses %> <%= kaime.betting %>円 </p>
              <% elsif kaime.third_hoses.nil? %>
                <p> <%= kaime.baken_type %> <%= kaime.buy_type %> : <%= kaime.first_hoses %> - <%= kaime.second_hoses %> <%= kaime.betting %>円 </p>
              <% else %>
                <p> <%= kaime.baken_type %> <%= kaime.buy_type %> : <%= kaime.first_hoses %> - <%= kaime.second_hoses %> - <%= kaime.third_hoses %> <%= kaime.betting %>円 </p>
              <% end %>
            <% end %>
          </div>
        </div>
        <!-- 予想コメントの領域 -->
        <div class="field">
          <%= f.text_area :content, placeholder: "予想コメントを記入してください" %>
        </div>
        <%= f.submit "予想を投稿する", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
<% end %>

<!-- オーバレイウインドウ -->
<div id="overlay">
  <div id="modalWindow">  
    <%= render 'baken_type' %>
  </div>
</div>


<!-- モーダルウインドウの表示 / 非表示 -->
<script type="text/javascript">
  $(function() {
    // 「Open」ボタンをクリック時に、fadeInメソッドでHTML要素を表示する
    $('#select_baken').on('click', function() {
      $('#overlay, #modalWindow').fadeIn();
  });
  
  // 「Close」ボタンをクリック時に、fadeOutメソッドでHTML要素を非表示にする
  $('#close').on('click', function() {
    $('#overlay, #modalWindow').fadeOut();
  });
  
  
  locateCenter();  // => モーダルウィンドウを中央配置するための初期値を設定する
  $(window).resize(locateCenter);  // => ウィンドウのリサイズに合わせて、モーダルウィンドウの配置を変える

  // モーダルウィンドウを中央配置するための配置場所を計算する関数
  function locateCenter() {
    let w = $(window).width();
    let h = $(window).height();
    
    let cw = $('#modalWindow').outerWidth();
    let ch = $('#modalWindow').outerHeight();
   
    $('#modalWindow').css({
      'left': ((w - cw) / 2) + 'px',
      'top': ((h - ch) / 2) + 'px'
    });
  }
});
</script>
