@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    text-align: left;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  p {
    float: left;
    padding: 10px 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    text-align: left;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* railsによってエラー箇所が<div class=field_with_errors></div>で自動で囲まれる*/
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* sidebar */

.sidebar {
  align: left;
  padding: 0;
}

.sidebar_avatars {
  img {
    width: 100%;
    max-width: 100%; /* 画像幅以上拡大しないようにする指定 */  
  }
}

#date_erea {
  h2 {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    text-align: left;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
}

/* 馬印エリア */
tr.gate_white td{
  background: #ffffff;
}

tr.gate_black td {
  background: #000000;
  color: #ffffff;
}

tr.gate_red td {
  background: #ff0000;
  color: #ffffff;
}

tr.gate_blue td {
  background: #0000ff;
  color: #ffffff;
}

tr.gate_yellow td {
  background: #ffff00;
}

tr.gate_green td {
  background: #008000;
  color: #ffffff;
}

tr.gate_orange td {
  background: #ffa500;
  color: #ffffff;
}

tr.gate_pink td {
  background: #ffc0cb;
}

/* 買い目選択 */
#overlay {
  /* viewpointを相対位置にし、全画面表示にする */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);  /* 背景を半透明にする */
  display: none;  /* HTML要素を非表示にする */
  z-index: 1  /* 「メインのHTML要素」よりもスタックレベルを高くする */
 }

#modalWindow {
  width: 500px;
  height: 350px;
  position: fixed; /* viewpointを相対位置にする */
  border: 2px solid #D04255;
  background-color: #FFF;
  display: none; 
  z-index: 2  /* 「オーバーレのHTML要素」よりもスタックレベルを高くする */
}

.modal_select_baken {
  width: 500px;
  height: 350px;
  position: fixed; /* viewpointを相対位置にする */
  border: 2px solid #D04255;
  background-color: #FFF;
  display: none; 
  z-index: 3  /* 「オーバーレのHTML要素」よりもスタックレベルを高くする */
}

/* micropost detail */

.kaime {
  text-align: right;
  font-weight: bold;
  display: block;
}

.timestamp {
  color: $gray-light;
  display: block;
  margin-left: 60px;
  text-align: right;
}

.favorite {
  text-align: right;
}

.reply {
  text-align: right;
}

/* menus */
.menus {
  list-style-type: none;
}
