<header class="navbar navbar-fixed-top navbar-inverse" style="background-color:#7CC716; margin-bottom: 0px;">
<div class="container">
  <%= link_to "タイトルは未定", root_path, id: "logo" %>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
        <li><%= link_to "マイページ", user_path(current_user) %></li>
        <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "ログイン", login_path %></li>
        <li><%= link_to "会員登録", signup_path %></li>
      <% end %>
      <li><%= link_to "会員検索", users_path %></li>
    </ul>
  </nav>
</div>
</header>